.antistress
    background: radial-gradient(46.42% 59.05% at 61.63% 24.44%, rgba(135, 10, 177, 0.91) 0%, #B780CA 100%)
    clip-path: polygon(0 0, 100% 0, 100% 41%, 0 99%)
    height: 780px
    &_img
        max-width: 645px
        padding-top: 13px
        margin-left: -27px
    &_title
    &_subtitle        
