@font-face
    font-family: 'Bahnschrift'
    src: local('Bahnschrift')
    src: url('../fonts/Bahnschrift.ttf')
@font-face
    font-family: 'Proxima Nova'
    font-weight: 300
    font-display: swap
    src: local('Proxima Nova')
    src: url('../fonts/proxima/ProximaNova-Light.eot')
    src: url('../fonts/proxima/ProximaNova-Light.ttf')
    src: url('../fonts/proxima/ProximaNova-Light.woff')
@font-face
    font-family: 'Proxima Nova'
    font-weight: 400
    font-display: swap
    src: local('Proxima Nova')
    src: url('../fonts/proxima/ProximaNova-Regular.eot')
    src: url('../fonts/proxima/ProximaNova-Regular.ttf')
    src: url('../fonts/proxima/ProximaNova-Regular.woff')
@font-face
    font-family: 'Proxima Nova'
    font-weight: 500
    font-display: swap
    src: local('Proxima Nova')
    src: url('../fonts/proxima/ProximaNova-Bold.eot')
    src: url('../fonts/proxima/ProximaNova-Bold.ttf')
    src: url('../fonts/proxima/ProximaNova-Bold.woff')
@font-face
    font-family: 'Proxima Nova'
    font-weight: 800
    font-display: swap
    src: local('Proxima Nova')
    src: url('../fonts/proxima/ProximaNova-Extrabld.eot')
    src: url('../fonts/proxima/ProximaNova-Extrabld.ttf')
    src: url('../fonts/proxima/ProximaNova-Extrabld.woff')
$primeFont: 'Proxima Nova'
$secondFont: 'Bahnschrift'

=title
    font-family: $primeFont, sans-serif
    font-style: normal
    font-weight: 800
    font-size: 3.4vw
    line-height: 100%
    color: $darkText
=normalText
    font-family: $secondFont, sans-serif
    font-style: normal
    font-weight: 300
    font-size: 24px
    line-height: 29px
    letter-spacing: 0.03em
    color: $darkText
=whiteh3
    font-family: $secondFont, sans-serif
    font-style: normal
    font-weight: 700
    font-size: 24px
    line-height: 100%
    text-transform: uppercase
    color: #FFFFFF
=whiteTitle
    font-family: $primeFont, sans-serif
    font-style: normal
    font-weight: 800
    font-size: 3.4vw
    line-height: 100%
    text-transform: uppercase
    color: #FFFFFF
=whiteNormalText
    font-family: $secondFont, sans-serif
    font-style: normal
    font-weight: 400
    font-size: 24px
    line-height: 29px
    letter-spacing: 0.02em
    color: #FFFFFF
=littleTitle
    font-family: $primeFont, sans-serif
    font-style: normal
    font-weight: 700
    font-size: 2.4vw
    line-height: 100%
    text-align: center
    color: #090A29

