.how_use
    &_img
        height: 873px
        width: 812px
        object-fit: contain
    &_instruction
        margin-top: 7rem
        img
            width: 630px
            height: 208px
            object-fit: contain
    &_content
        margin-left: 6rem
        margin-top: 4rem
        margin-bottom: 88px
    &_title
        +title
        text-transform: uppercase
        max-width: 811px
    &_text
        +normalText
        margin-top: 2rem
        max-width: 630px
    .scroll-button
        position: absolute
        left: 52%
        bottom: 0px
@media screen and (max-width: 425px)
    .how_use
        &_content
            margin-left: 10px
        &_text
            font-size: 16px            
@media screen and (max-width: 1024px)
    .how_use
        &_content
            padding-right: 10px
            margin: 0
            margin-top: 30px
        &_text
            font-size: 20px
        &_instruction
            // margin-top: 30px    

                