*
    box-sizing: border-box
    padding: 0
    margin: 0
body
    font-family:
img
    max-width: 100%
.clearfix:after
    content: ""
    display: table
    clear: both
.first_product_couple
    background-color: red
    min-height: 850px


.second_product_couple
    background-color: yellow
    min-height: 850px


.how_use
    background-color: #c9c9c9
    min-height: 850px


.where_bay
    background-color: grey
    min-height: 850px


.feedback_form
    background-color: orange
    min-height: 850px

.sidebar
    background-color: #F8F8F8
    z-index: 1
h1,h2
    +title 
h2
    text-transform: uppercase    
.orange
    color: $orange



