*, *::before, *::after
    box-sizing: border-box

img
    max-width: 100%
.clearfix:after
    content: ""
    display: table
    clear: both
.sidebar
    background-color: #F8F8F8
    z-index: 1
h1,h2
    +title
h2
    text-transform: uppercase
.orange
    color: $orange
.round_button
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    height: 85px
    width: 85px
    border-radius: 50%
    box-shadow: -5px 3px 4px rgba(0, 0, 0, 0.25)
    background-color: #fff
.round_links
    width: 220px
    // text-align: end
    a
        font-family: 'Bahnschrift'
        font-style: normal
        font-weight: 700
        font-size: 14px
        line-height: 100%
        text-transform: uppercase
        text-decoration: none
        text-align: center
/* 1 – Изменим стили шрифтов */
/* 2 – Удалим margin в Firefox и Safari */
input[type="text"]
    font-family: inherit
    font-size: inherit
    line-height: inherit
    margin: 0
.scroll-button
    position: absolute
    