.skin
    background: radial-gradient(55.94% 62.95% at 62.74% 19.89%, rgba(11, 73, 152, 0.93) 0%, #4D80C1 100%)
    clip-path: polygon(0 0, 100% 0, 100% 46%, 0 99%)
    height: 869px
    margin-bottom: -470px
    padding-top: 64px
    // &_img
    //     margin-top: 122px
        // width: 100%
        // height: 100%
        // max-width: 604px
        // max-height: 470px
        // object-fit: contain
    &_title
        h1
            +whiteTitle
            // margin-top: 59px
        h3
            +whiteh3
            margin-top: 16px
    &_text
        +whiteNormalText
        max-width: 788px
        margin-top: 43px
    .round_links
        margin-top: 58px
        a
            color: #a875b9   
    &_contain
        padding-left: 3%    


.joints
    background: radial-gradient(80.49% 64.27% at 68.37% 24.76%, #00722C 0%, #28B35D 100%) 
    clip-path: polygon(0 49%, 100% 0%, 100% 100%, 0% 100%)
    height: 939px
    &_img
        margin-top: 284px
        // margin-left: 150px
        // width: 100%
        // max-width: 494px
        // &_wrap
        //     img
    &_title
        margin-top: 412px
        text-align: end
        h1
            +whiteTitle
            margin-top: 58px
        h3
            +whiteh3
    &_text
        +whiteNormalText
        margin-top: 33px
        text-align: end
        max-width: 717px
    &_content
        padding-right: 67px

    .round_links
        margin-top: 40px
        a
            color: #0C8583
.second_product_couple
    .scroll-button
        position: absolute
        left: 52%
        bottom: 0px

   